# Python egg metadata
*.egg-info/
*.egg
UNKNOWN.egg-info/

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

*.log

.env
notebooks
chunks_images
indexes/
test_scripts
learn
data/*
!/data/pages 
!/data/annotations
data/retrieved_pages
src/generators/baselines/results
auto_annotate/results
src/test/retrievers_test
src/dataset/chunks
src/results/judged
runner.sh