# Python egg metadata
*.egg-info/
*.egg
UNKNOWN.egg-info/

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

*.log
.github
.env
notebooks
chunks_images
indexes/
test_scripts
learn
data/*
!/data/pages 
!/data/annotations
!/data/hard_negatives_mining
retrieved_pages
src/generators/baselines/results
auto_annotate
src/test/retrievers_test
runner.sh
src/retrievers/results/annotated_pages
src/retrievers/results/all_pages/
src/generators/eval
src/retrievers/results
src/generators/results

# Export dataset folders
src/evaluation/utils
test_export_beir
test_export_csv

# Finetune ignored folders
finetune/filtered/scraped_pdfs
finetune/documents
finetune/original_documents
finetune/training_documents
finetune/datasets

wandb
finetune/checkpoints

# Backup folders
src/dataset/chunks/backup
src/dataset/backup
src/dataset/chunkers/backup

src/generators/rq_5/topk_pages_txt

data/hard_negatives_mining
analysis
bgl_evals
finetune

artifacts
*backup
src/dataset/helpers
src/evaluation/stratified