# Python egg metadata
*.egg-info/
*.egg
UNKNOWN.egg-info/

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

*.log

.env
notebooks
chunks_images
src/test
indexes/