# git+https://github.com/illuin-tech/colpali
colpali-engine==0.3.10
transformers==4.51.3
# flash-attn
rank-bm25==0.2.2
nltk
sentence-transformers # this was 3.0.1
pytesseract
pymupdf
pillow
matplotlib
datasets
unstructured[image]
ir-measures[ranx]
faiss-cpu
pylate
sparsembed
torch
torchvision
bitsandbytes
sentencepiece
ollama
einops
flash-attn