haystack-ai==2.14.1 
haystack-experimental==0.10.0
docling-haystack==0.1.1
rank-bm25==0.2.2
nltk
sentence-transformers
pytesseract
pillow
matplotlib
datasets
unstructured[image]
pytrec-eval==0.5
faiss-cpu
pylate
sparsembed
torch>=2.5,<2.7
torchvision
colpali-engine
bitsandbytes
sentencepiece