git+https://github.com/illuin-tech/colpali.git 
rank-bm25==0.2.2
nltk
sentence-transformers
pytesseract
pillow
matplotlib
datasets
unstructured[image]
pytrec-eval==0.5
faiss-cpu
pylate
sparsembed
torch>=2.5,<2.7
torchvision
bitsandbytes
sentencepiece